# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
/static/

# Variables de entorno (¡CRÍTICO!)
.env
.venv
env/
venv/
ENV/

# Docker
.docker/

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db